<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InterfaceAdapters.Properties.Settings.FoodamDatabaseConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FoodamDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>